.page {
  width: 100%;
  font-family: "PT Sans";
}

.header {
  display: flex;
  justify-content: space-around;
  height: 90px;
  background-color: black;
}

.footer {
}

.pre-footer__text {
  max-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #cecece;
}

.out-footer {
  display: flex;
  justify-content: space-around;
  height: 94px;
  background-color: black;
}

.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.header__title_premium {
  padding-right: 5px;
  font-weight: normal;
}

.header__title_car {
  display: inline-grid;
  align-items: center;
  text-align: center;
  min-width: 40px;
  min-height: 23px;
  background-color: #4a90e2;
  text-transform: uppercase;
}

.header__links {
  min-width: 368px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__search {
  border: 0;
  background: transparent;
  /* Remove White Background ? */
}

.button__search_image {
  width: 16px;
  height: 16px;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

.grid-top {
  width: 100%;
  height: 625px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
}

.grid-main {
  display: flex;
  padding-top: 35px;
  padding-right: 120px;
  justify-content: space-between;
}

.grid-main {
  padding-right: 0px;
}

.grid-main__articles {
  display: flex;
  flex-direction: column;
  width: 790px;
  flex-wrap: wrap;
}

.grid-main__side-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card {
  position: relative;
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.card_type_top {
  height: 560px;
}

.card_type_main {
  height: 265px;
}

.card_type_article {
  flex-direction: column;
  align-items: center;
  height: 560px;
  padding-top: 30px;
}

.card_type_article:first-of-type {
  margin-top: 0;
}

.card_type_continue-reading {
  flex-direction: column;
  align-items: center;
  max-height: 500px;
  max-width: 300px;
}

.card__content {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.card__content_place_article {
  top: 315px;
  flex-direction: column;
  width: 730px;
  height: 249px;
  background: #fff;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.card__content_place_continue-reading {
  top: 250px;
  flex-direction: column;
  max-width: 300px;
  height: 249px;
  background: #fff;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.card__image {
  width: 100%;
  border-style: none;
}

.card__image_place_article {
  width: 770px;
  height: 440px;
  object-fit: cover;
}

.card__image_place_continue-reading {
  width: 300px;
  height: 200px;
  object-fit: cover;
  align-self: center;
}

.card__title {
  margin: 0;
  font-weight: 700;
  color: white;
}

.card__title_place_top {
  width: 360px;
  font-size: 26px;
  line-height: 36px;
}

.card__title_place_main {
  width: 265px;
  font-size: 20px;
  line-height: 30px;
}

.card__title_place_article {
  width: 614px;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  margin: 72px 0 0 20px;
  color: #171717;
}

.card__title_place_continue-reading {
  color: #171717;
  margin-top: 20px;
  font-size: 18px;
}

.card__meta {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: white;
}

.card__meta_place_article {
  color: #666666;
  width: 614px;
  font-style: italic;
  color: #666;
  margin: 15px 0 0 20px;
}

.card__meta_place_continue-reading {
  color: #999;
  font-size: 14px;
  margin-top: 8px;
}

.card__badge {
  position: absolute;
  background-color: #4a90e2;
  margin: 0;
  color: white;
  padding: 4px 12px 4px 12px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.card__badge_place_top,
.card__badge_place_main {
  top: 60px;
  left: 20px;
}

.card__badge_place_article {
  top: 20px;
  left: 20px;
}

.card__text {
  width: 614px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin: 14px 0 30px 20px;
}

.card__text_type_continue-reading {
  width: 270px;
  max-height: 75px;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #666;
  margin: 14px 0 21px 0px;
}

.card__button {
  background: #232323;
  border-radius: 5px;
  width: 270px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.card__button_wider {
  width: 100%;
}

.pager {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 93px;
}
.pager-button {
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #171717;
}
.pager-button_selected {
  background-color: #000;
  color: #fff;
}

.most-popular {
}
.most-popular__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #171717;
}
.most-popular__cards {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 79px;
  display: flex;
  gap: 28px;
}

.popular__card{ 
  padding-top: 23px;
  position: relative;
  max-width: 300px;
}
.popular__image {
  width: 100%;
  object-fit: cover;
}
.most-popular__card {
  position: relative;
  max-width: 270px;
}
.most-popular__image {
}
.most-popular__badge {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #4a90e2;
  margin: 0;
  color: white;
  padding: 4px 12px 4px 12px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.most-popular__card-title {
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #171717;
}
.most-popular__card-subtitle {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.popular-posts {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.card-continue-reading {
  margin: 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.continue-reading__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.continue-reading__title {
  margin: 0;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #171717;
}

.continue-reading__subtitle {
  margin: 0;
  padding-top: 8px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
}

.continue-reading__text {
  margin: 0;
  padding: 14px 0 21px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #666;
}

.instagram {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.instagram-grid {
  padding: 25px 0px 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.instagram-image {
  display: block;
  width: 145px;
  height: 145px;
  object-fit: contain;
}

.tags {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.tags-wrapper {
  padding-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  margin: 0;
  display: block;
  padding: 7px 17px;
  text-decoration: none;
  background: #EBEBEB;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #171717; 
}

.pre-footer {
  background-color: #171717;
  max-width: 100%;
  min-height: 500px;
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 64px;
  column-gap: 110px;
  align-items: center;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-content__newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.side-content__newsletter-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #171717;
}

.side-content__newsletter-subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}

.pre-footer__newsletter {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.pre-footer__newsletter-title {
  color: #fff;
  padding-bottom: 28px;
}

.form-input {
  display: block;
  min-height: 50px;
  max-width: 270px;
  padding-left: 15px;
  background-color: #373737;
  border: none;
  color: #aeb3bb;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.form-input_light {
  color: #AEB3BB;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.pre-footer__socials {
  display: flex;
  gap: 15px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.button__social {
  width: 34px;
  height: 34px;
  padding-top: 23px;
  background-color: #373737;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

/* Bad Practice to Integrate It with CMS */

.button__social:nth-of-type(1) {
  background-image: url("../images/social-fb.png");
}

.button__social:nth-of-type(2) {
  background-image: url("../images/social-tw.png");
}

.button__social:nth-of-type(3) {
  background-image: url("../images/social-pn.png");
}

.button__social:nth-of-type(4) {
  background-image: url("../images/social-g.png");
}

.button__social:nth-of-type(5) {
  background-image: url("../images/social-ig.png");
}

.pre-footer__posts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}
.pre-footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
.footer-post {
  display: flex;
  gap: 20px;
}
.footer-post__image {
  width: 95px;
  height: 95px;
}
.footer-post__text {
  display: flex;
  flex-direction: column;
}
.footer-post__title {
  margin: 0;
  max-width: 180px;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
}
.footer-post__subtitle {
  margin: 0;
  padding-top: 13px;
  max-width: 180px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #cecece;
}
